body {
  background: #eb5033;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-weight: 600;
  margin-top: 30px;
  opacity: 70%;
  font-size: 35px;
  margin-bottom: 0;
}
.app-wrapper {
  max-width: 800px;
  border: 2px solid rgb(61, 61, 89);
  margin: 30px;
  padding: 20px;
  border-radius: 12px;
  background: #ffd82c;
}
.latest-update {
  margin-top: 0;
  padding: 0;
  font-size: 15px;
}
.current-icon {
  width: 70px;
}
.current-temp {
  font-size: 80px;
  position: relative;
  font-weight: 500;
}
.units {
  position: relative;
  right: -90px;
  top: -100px;
}
.section3 {
  font-size: 15px;
}
.weather-forecast {
  padding: 3px;
  
  transition: all 2ms ease-in;
  
}
.weather-forecast:hover{
background: #ff9d00;
}


